*{list-style:none;}
@font-face{
	font-family: "Aller_Lt";
	src:url("../fonts/Aller_Lt.eot");
	src:url("../fonts/Aller_Lt.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Aller_Lt.woff")format("woff"),
	url("../fonts/Aller_Lt.ttf")format("truetupe");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Aller_Rg";
	src:url("../fonts/Aller_Rg.eot");
	src:url("../fonts/Aller_Rg.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Aller_Rg.woff")format("woff"),
	url("../fonts/Aller_Rg.ttf")format("truetupe");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Aller_Bd";
	src:url("../fonts/Aller_Bd.eot");
	src:url("../fonts/Aller_Bd.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Aller_Bd.woff")format("woff"),
	url("../fonts/Aller_Bd.ttf")format("truetupe");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "Aller_It";
	src:url("../fonts/Aller_It.eot");
	src:url("../fonts/Aller_It.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Aller_It.woff")format("woff"),
	url("../fonts/Aller_It.ttf")format("truetupe");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "OpenSansBold";
	src:url("../fonts/OpenSansBold.eot");
	src:url("../fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansBold.woff")format("woff"),
	url("../fonts/OpenSansBold.ttf")format("truetupe");
	font-style: normal;
	font-weight: normal;
}
body{	
	font-family: Aller_Lt;
	margin: 0;
	background: #242424;
}
a{
	outline: none !important;
	text-decoration: none;
}
a:focus{
	outline: none !important;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1{
	font-size: 40px;
}
h3{
	font-family: Aller_Bd;
	font-size: 14px;
	margin: 0;
}
p{
	font-size: 20px;
	font-family: Aller_Rg;
}
span{
	font-family: Aller_Rg;
}
header{
	background: #fff;
}
header a{
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear;
}
header a:hover{
	color: #57c5a0;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}
.head-top{
	background: #242424;
}
.logo{
	padding: 10px 7px;
	display: inline-block;
}
header form{
	display: inline-block;
    float: right;
    font-size: 0;
}
header fieldset{
	border: none;
}
header input{
	border: none;
	background: inherit;
	outline: none !important;
}
header input[type="text"]{
    padding: 6px 12px;
    color: #7e7e7e;
    font-family: OpenSansBold;
    box-shadow: none !important;
    background: #242424;
    display: inline-block;
    width: 54%;
    border: none;
}
header input[type="submit"]{
	color: #7e7e7e;
    font-family: Aller_Rg;
    font-size: 12px;
    padding: 5px 8px;
    cursor: pointer;
    background: url(../images/search.png) no-repeat 50%;
    -webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;

}
header input[type="submit"]:hover{
	opacity: .8;
}
header form a{
    border: none !important;
    color: #fff !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    padding: 0px 12px 0px 12px !important;
    -webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear;
}
header form a:hover{
	color: rgba(255, 255, 255, .8) !important;
}
header form nav{
	display: inline-block;
    border-right: 1px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    padding: 15px  0 12px 0;

}
header form span{
	display: inline-block;
	font-size: 11px !important;
	color: #fff;
	text-transform: lowercase;
}
.head-bottom{
	background: #fff;
}
header nav{
	margin: 0 9px 0 8px;
}
header nav a{
	font-family: Aller_Rg;
	font-size: 16px;
	text-transform: capitalize;
	color: #242424;
	border-right: 1px solid #eeeeee;
	padding: 22px 21px 22px 21px;
	display: inline-block;
}
header nav a:first-child{
	border-left: 1px solid #eeeeee;
}
header nav li{
	display: inline-block;
	float: right;
}
header .star{
	background: url(../images/star.png) no-repeat 21px 50%;
    padding-left: 45px;
    padding-right: 24px;
    border-left: 1px solid #eeeeee;
}
header .cart{
    background: url(../images/cart.png) no-repeat 18px 50%;
    padding-left: 43px;
    padding-right: 25px;
}
.right{
	float: right;
}
header nav a span{
	font-size: 12px;
	font-family: Aller_Bd;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
	background: blue;
	display: inline-block;
	vertical-align: top;
	background: #adadad;
	color: #fff;
	line-height: 20px;
}
header nav .cart span{
	background: #57c5a0;
}
.information{
	padding: 0 0 23px 0;
	overflow: hidden;
}
.info-box {
    padding: 0px;
    display: inline-block;
    margin: 0 0 0 53%;
    color: #000000;
    text-align: left;
}
.info-box:after{
	display: block;
	content: '';
	clear: both;
}
.info-box h1{
	margin: 21px 0px -15px -4px;
    line-height: 40px;
}
.info-box p{
    margin: 21px 0 12px -2px;
    font-family: Aller_Lt;
    line-height: 24px;
    height: 72px;
    overflow: hidden;
}
.information .price{
	width: 60px;
    height: 60px;
    line-height: 57px;
}
.price{
    background: #57c5a0;
    line-height: 68px;
    width: 72px;
    height: 68px;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.serv-list li{
	background: rgba(255, 255, 255, .8) !important;
	display: inline-block;
	width: 41px;
	height: 41px !important;
	margin: 13px -1px 0 -2px;
}
.serv-list a{
	width: 41px;
	height: 41px;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
}
.link-watch{
	background-position: 14px 14px !important;
}
.link-watch:hover{
	background-position: 14px -16px !important;
}
.link-star{
    background-position: -29px 14px !important;
}
.link-star:hover{
    background-position: -29px -16px !important;
}
.link-out{
    background-position: -70px 14px !important;
}
.link-out:hover{
    background-position: -70px -16px !important;
}
.link-cart{
    background-position: -113px 14px !important;
}
.link-cart:hover{
    background-position: -113px -16px !important;
}
/*_____________________________________________________*/
.carousel-inner>.item>img{
	min-width: 100%;
}
.carousel-caption{
	top:11%;
	right: 19%;
}
.carousel{
	background: #2e2e2e;;
	padding-bottom: 80px;
}
.carousel-indicators{
	overflow: hidden;
	bottom: 10px;
	width: 960px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0;
}
.carousel-indicators li{
	width: 19%;
	font-size: 12px;
	border-radius: 0;
	background: #000000;
	color: #fff;
	background: inherit;
	height: 55px;
	border: none;
	border-top: 10px solid black;
}
.carousel-indicators .active{
	width: 19%;
	font-size: 12px;
	background: inherit;
	height: 55px;
	border: none;
	border-top: 10px solid #57c5a0;
}
.carousel-indicators .active:before{
	color: #fff;
}

.carousel-indicators li:before{
	position: absolute;
    top: 19px;
    display: inline-block;
    color: #979797;
    font-family: Aller_Rg;
    font-size: 18px;
    width: 19%;
    text-align: center;
}
.carousel-indicators li:after{
	position: absolute;
    top: 44px;
    display: inline-block;
    color: #979797;
    font-family: Aller_Rg;
    font-size: 12px;
    width: 19%;
    text-align: center;
}
.carousel-indicators li:first-child:before{
    content: 'Pink Shoes';
    left: 54%; 
   
}
.carousel-indicators li:first-child:after{
	content: 'Now af $145,99';    
    left: 54%;
}

.carousel-indicators li:nth-child(3n+2):before{
	content: 'Anna Field';
	left: 73%;
}
.carousel-indicators li:nth-child(3n+2):after{
	content: 'Limited Edition';
	left: 73%;
}
.carousel-indicators li:nth-child(5n-2):before{
	content: 'Prada';
	left: 92%;
}
.carousel-indicators li:nth-child(5n-2):after{
	content: 'Summer is coming';
	left: 92%;
}
.carousel-indicators li:nth-child(4):before{
	content: 'Casadei';
	right: -292px;
}
.carousel-indicators li:nth-child(4):after{
	content: 'All Colors avaiable';
	right: -292px;
}
.carousel-indicators li:nth-child(5):before{
	content: 'Mellow Yellow';
	left: 130%;
}
.carousel-indicators li:nth-child(5):after{
	content: 'Free delivery';
	left: 130%;
}

/*_______________________________________________________*/
.about-section{
	padding: 0 0 29px 0;
}
.about-section ul li{
	display: inline-block;
	width: 30%;
	margin: 1px 31px 0px 0px;
	text-align: center;
	position: relative;
}
.about-section ul{
	text-align: center;
}
.about-section ul li a{
	width: 100%;
	display: inline-block;
	-webkit-transition:opacity .3s linear;
	-moz-transition:opacity .3s linear;
	-o-transition:opacity .3s linear;
	transition:opacity .3s linear;
}
.about-section ul li a:hover{
	opacity: .8;
}
.about-section ul li a img{
	width: 100%;
}
.about-section ul li:last-child{
	margin-right: 0;
}
.sale {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding: 16px 0px;
    background: rgba(57, 57, 57, .9);
    color: #fff;
    width: 70%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    height: 65px;
}
.products{
	background: #ebe7df;
}
.products h2{
	padding: 30px 0 0 5px;
    font-family: Aller_Lt !important;
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 28px 0;
    font-size: 25px;
}
.products button{
	float: right;
    margin: 30px 14px 0 0;
    font-size: 14px;
    padding: 5px 22px;
    text-transform: capitalize;
    background: inherit;
    border: 1px solid #bcb5a7;
    font-family: Aller_Lt;
    color: #bcb5a7;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}
.products button:hover{
	background: #fff;
}
.col{
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin: 2px 9px 13px 9px;
}
.col img{
	width: 100%;
}
.col-bottom span{
	display: inline-block;
    padding: 15px 0;
    -webkit-transition: opacity .3s linear;	
    -moz-transition: opacity .3s linear;	
    -o-transition: opacity .3s linear;	
    transition: opacity .3s linear;	

}
.col-bottom{
	position: relative;
	background: #fff;
    text-align: center;
    margin: 1px 0 0 0;
    cursor: pointer;
    height: 47px;
}
.products .col .price{
	position: absolute;
    bottom: 0px;
    left: 12px;
}
.products .col .sticker{
    position: absolute;
    bottom: 195px;
    left: 221px;
    background: #000000;
    line-height: 60px;
    width: 68px;
    height: 63px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
.products .col .stock{
	background: #f27e4b;
    line-height: normal;
    padding: 15px 0 0 0;
    height: 64px;
    bottom: 195px;
    left: 220px;
    width: 68px;
}
.products .serv-list{
	display: none;
	opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.col-bottom:hover span{
	opacity: 0;
	display: none;
}
.col-bottom:hover .serv-list{
	display: block;
	opacity: 1;
	text-align: right;
    margin: 0 26px 0 0;
}
.serv-list{
	margin: 0 0 0 -7px;
}
.serv-list li {
    /*height: 41px;*/
    margin: 5px 0px;
}
.advertising-box{
	font-size: 0;
	border-top: 1px solid #bcb5a7;
	margin: 31px 10px 0 10px;
    padding: 25px 0 0 0;
}
.adv-col{
    display: inline-block;
    vertical-align: top;
    background: #dfdbd4;
    height: 187px;
    overflow: hidden;
    margin: 0 28px 23px 0;
    padding: 31px 15px 0 14px;
}
.adv-col-sm{
	width: 24%;
}
.adv-col-m{
	width: 45%;
	margin: 0;
	float: right;
}
.adv-col-m h3{
	margin: 0 0 21px 0 !important;
}
.adv-col h3{
	text-transform: uppercase;
	margin: 0 0 17px 0;
}
.adv-col p{
	font-size: 12px;
	color: #242424;
	line-height: 15px;
}
blockquote{
	font-size: 12px;
	color: #242424;
	line-height: 15px;
	padding: 0;
    border: none;
	font-family: Aller_Rg;
	margin: 0;
}
.adv-col span{
	font-size: 12px;
	font-family: Aller_It;
	display: inline-block;
    margin: 8px 0px 0 -6px;
}
.adv-col span:before{
	display: inline-block;
	content: '-';
	margin-right: 3px;
}
.adv-col span:after{
	display: inline-block;
	content: '-';
	margin-left: 3px;
}
.blog{
	display: inline-block;
    width: 88%;
    vertical-align: top;
    padding: 0 0 0px 10px;
    margin: 0;
}
.blog a{
	margin: 0 0 4px 0 !important;
    text-transform: capitalize;
    font-family: Aller_Bd;
	font-size: 14px;
	color: #000000;
}
.data{
	width: 37px;
	height: 37px;
	background: #57c5a0;
	text-align: center;
    color: #fff; 
    display: inline-block;
    vertical-align: top;
}
.data p{
    font-size: 14px;
    margin: 0;
    color: #fff;
}
.widgets{
	padding-bottom: 26px;
}
.wid-col-wrap{
	font-size: 0;
	padding: 49px 0px 0 52px;
}
.wid-col-wrap h3 {
	font-family: Aller_Rg;
	color: #5a5a5a;
	text-transform: uppercase;
}
.wid-col-wrap div p{
	font-family: Aller_It;
	font-size: 12px;
	color: #5b5b5b;
	margin: 21px 0px 0 0;
    line-height: 17px;
}
time{
    font-family: Aller_It;
    font-size: 12px;
    color: #5b5b5b;
    margin: 5px 0px 0 0;
    display: block;
}
.wid-col-wrap div{
    display: inline-block;
    width: 29%;
    vertical-align: top;
    margin: 0 28px 0 0;
}
.wid-right-col nav a{
    display: inline-block;
    margin: 0px 2px 5px 0;
    -webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
.wid-right-col nav a:hover{
	opacity: .7;
}
.wid-right-col h3{
	margin-left: 14px;
}
.wid-right-col nav{
	margin: 18px 0 0 0px;
}
.wid-center-col .time{
	margin-top: 0;
	margin: 7px 0 0px 0;
}
.wid-center-col a{
	color: #57c5a0;
}
.contacts{
	border-top: 1px solid black;
	padding: 37px 0 42px 0;
	margin: 37px 0 0 0;
}
.contacts form{
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 47px;
}
.contacts fieldset{
	border: none;
}
.contacts input{
	vertical-align: top;
	outline: none !important;
	padding: 9px 13px;
	font-family: OpenSansBold;
	background: #2e2e2e;
	border: none !important;
	width: 188px;
	color: #7d7d7d;
	display: inline-block;
    border-radius: 0;
    font-size: 12px;
    box-shadow: none !important;
}
::-webkit-input-placeholder {color:#7d7d7d;}
::-moz-placeholder          {color:#7d7d7d;}
:-moz-placeholder           {color:#7d7d7d;}
:-ms-input-placeholder      {color:#7d7d7d;}

.contacts input[type="submit"]{
	width: 34px;
	height: 34px;
	background: url(../images/button.png) no-repeat 50%;
	background-color: #7d7d7d !important;
	cursor: pointer;
	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
.contacts input[type="submit"]:hover{
	opacity: .7;
}
.social{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	text-align: right;
	float: right;
	margin: 0 53px 0 0;
}
.social a{
	width: 36px;
    height: 36px;
    display: inline-block;
    background-color: #2e2e2e !important;
    margin: 0 0 0 4px;
    -webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
.social a:hover{
	opacity: .8;
}
.fb{
	background: url(../images/fb.png) no-repeat 50%;
}
.tw{
	background: url(../images/tw.png) no-repeat 50%;
}
.google{
	background: url(../images/google.png) no-repeat 50%;
}.ld{
	background: url(../images/linkedin.png) no-repeat 50%;
}.fl{
	background: url(../images/flickr.png) no-repeat 50%;
}
footer{
	background: #2e2e2e;
	color: #9f9f9f;	
	font-family: Aller_Rg;
	padding: 27px 0 37px 0;
}
.copyright p{
	font-size: 12px;
	margin: 0px 0 6px 0;
}
.copyright{
	margin: 0 0 0px 5px;
	display: inline-block;
	width: 29%;
	vertical-align: top;
}
.menu{
	display: inline-block;
	vertical-align: top;
	width: 70%;
	text-align: right;
	font-size: 12px;
	margin: 8px 0px 0px 0;
}
.menu a{
	font-size: 12px;
	color: #9f9f9f;	
	text-transform: capitalize;
	padding: 0px 2px;
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear;
}
.menu a:hover{
	color: #fff;
}
.menu a:after{
	content: "/";
	margin-left: 7px;
}
.menu a:last-child:after{
	display: none;
}
@media (max-width: 1199px){
	.info-box h1{
		font-size: 35px;
		line-height: 35px;
	}
	.carousel-caption{
		top: 0%;
	}

	
}
@media (max-width: 991px){
	.information .price {
	    width: 50px;
	    height: 50px;
	    line-height: 48px;
	    font-size: 13px;
	}
	.info-box h1 {
   		font-size: 25px;
    	line-height: 20px;
    	margin: 7px 0 0 0;
	}
	.info-box p {
	    margin: 8px 0 5px 0px;
	    line-height: 18px;
	    height: 74px;
	    font-size: 15px;
	}
	.carousel-caption {
	    padding: 15px 0;
	    top: -8px;
	}
	.carousel-indicators{
		width: 750px;
	}

	.carousel-indicators li:first-child:before{
		left: 68%;
	}
	.carousel-indicators li:first-child:after{
		left: 68%;
	}
	.carousel-indicators li:nth-child(3n+2):before{
		left: 87%;
	}
	.carousel-indicators li:nth-child(3n+2):after{
		left: 87%;
	}
	.carousel-indicators li:nth-child(5n-2):before{
		left: 107%;
	}
	.carousel-indicators li:nth-child(5n-2):after{
		left: 107%;
	}
	.carousel-indicators li:nth-child(4):before{
		left: 126%;
	}
	.carousel-indicators li:nth-child(4):after{
		left: 126%;
	}
	.carousel-indicators li:nth-child(5):before{
		left: 145%;
	}
	.carousel-indicators li:nth-child(5):after{
		left: 145%;
	}
	/*___________________________*/
	header nav a{
		padding: 22px 15px 22px 15px;
	}
	.information {
	    background-size: 100% 85%;
	}
	.bx-wrapper .bx-viewport{
		height: 490px !important;
	}
	.bx-wrapper .bx-pager .bx-pager-item{
		width: 18%;
	}
	.bx-wrapper .bx-pager{
		bottom: 10px;
	}
	.brand{
		display: none;
	}
	.bx-wrapper .bx-pager .bx-pager-item:after{
		display: none;
	}
	.bx-wrapper .bx-pager .bx-pager-item:before{
		display: none;
	}
	.products{
		text-align: center;
		padding-bottom: 20px;
	}	
	.products .col .sticker {
	    bottom: 143px;
	    left: 148px;
	}
	.products .col .stock {
	    bottom: 142px !important;
	    left: 148px;
	}
	.adv-col{
		width: 90%;
		margin: 5px auto;
		padding: 20px 15px 20px 15px;
		text-align: left;
		height: auto;
	}
	.adv-col-m{
		float: none;
	}
	.col-m-content{
		margin-bottom: 10px;
	}
	.sale {
    	font-size: 15px;
    	height: 50px;
	}
	.brand li {
	    padding: 11px 5px 0 0;
	}
	.brand li {
	    font-size: 15px;
	    width: 14%;
	    padding: 11px 8px 0 0;
	}
	.col-wrapper{
		text-align: center;
	}
	.col {
	    width: 30%;
	    display: inline-block;
	    margin: 30px 5px;
	}
	.products .col .price{
		left: 0;
		width: 60px;
		height: 60px;
	}
	.products .serv-list{
		margin: 0 0 0 0 !important;
		padding: 10px 0 0 0;
	}
	.col-bottom .serv-list li {
	    width: 20px;
	    height: 20px !important;
	    margin: 5px;
	}
	.col-bottom .serv-list a {
	    width: 20px;
	    height: 20px;
	}
	.col-bottom .link-watch {
	    background-position: 1px 3px !important;
	}
	.col-bottom .link-watch:hover {
	    background-position: 1px -27px !important;
	}
	.col-bottom .link-star {
	    background-position: -38px 3px !important;
	}
	.col-bottom .link-star:hover {
	    background-position: -38px -27px !important;
	}
	.col-bottom .link-out {
	    background-position: -80px 3px !important;
	}
	.col-bottom .link-out:hover {
	    background-position: -80px -27px !important;
	}
	.col-bottom .link-cart {
	    background-position: -125px 3px !important;
	}
	.col-bottom .link-cart:hover {
	    background-position: -125px -27px !important;
	}
	.col-bottom span {
	    padding: 15px 0 15px 45px;
	}
	.wid-right-col nav a{
		width: 29%;
	}
	.wid-right-col nav img{
		width: 100%;
	}
	.wid-col-wrap div{
		margin: 0 10px 0 0;
	}
	.menu{
		width: 65%;
	}
}
@media (max-width: 767px){
	body{
		background: #ebe7df;
	}
	.logo{
		width: 115px;
	}
	.logo img{
		width: 100%;
	}
	.head-top form{
		margin: 0 5px 0 0;
	}
	.head-top input[type="text"]{
		display: none;
	}
	.head-top input[type="submit"]{
		display: none;
	}
	.head-top input[type="submit"]{
		padding: 10px 15px 16px 14px;
	}
	.head-bottom nav a:first-child{
		border: none;
	}
	.head-bottom nav a{
		display: block;
		text-align: center;
		border: none;
		padding: 20px 0;
		text-transform: uppercase;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
	}
	.head-bottom nav a:hover{
		background: rgba(87, 197, 160, .9);
		color: #fff;
	}
	.carousel{
		display: none;
	}
	.about-section{
		background: #000000;
	}
	.about-section ul li{
		display: block;
		width: 280px;
		margin: 20px auto !important;
	}
	.products button{
		float: none;
		margin: 10px;
	}
	.col{
		width: 280px;
    	margin: 20px auto;
    	display: block;
	}
	.products .col .price {
	    left: 6px;
	    width: 70px;
	    height: 70px;
	}
	.products .col .sticker {
	    bottom: 189px;
	    left: 199px;
	}
	.products .col .stock {
	    bottom: 189px !important;
	    left: 199px !important;
	}
	.col-bottom .serv-list li{
		margin: 5px 15px;
	}
	.about-section nav li{
		display: block;
	    margin: 20px auto !important;
	    width: 300px;
	}
	.sale {
	    height: 65px;
	    font-size: 25px;
	}
	.price{
		margin: auto;
	}
	.blog{
		width: 80%;
	}
	.products h2{
		font-size: 20px;
		margin: 0;
		display: block;
	}
	.wid-col-wrap{
		padding: 0 15px;
		text-align: center;
	}
	.wid-col-wrap div p{
		margin: 5px 0 0 0;
	}
	.wid-col-wrap div{
		width: 100%;
	 	margin: 10px 0 20px 0;
	}
	.wid-right-col nav{
	    width: 245px;
	    margin: auto;
	}
	.wid-right-col nav a{
	    width: 28%;
	    margin: 5px;
	}
	.wid-right-col h3 {
	    margin-left: 0px;
	}
	.contacts{
		background: #242424;
	}
	.contacts form{
		display: block;
	    width: 280px;
	    margin: 0 auto;
	}
	.contacts input{
		width: 85%;
	}
	.social{
		float: none;
		display: block;
		margin: 10px auto;
	    text-align: left;
	    width: 100%;
	}
	.widgets {
	    padding-bottom: 0px;
	}
	footer .container{
		display: table;
	}
	.menu{
		display: table-header-group;
	}
	.menu a{
		font-size: 10px;
		padding: 0 0;
	}
	.menu a:after{
		margin-left: 2px;
	}
	.copyright{
		width: 96%;
		display: table-footer-group;
	}
	.copyright p{
		margin: 10px 0 0px 0;
		text-align: center;
		font-size: 10px;
	}
	/*____________________________________________________________*/
	.header-menu{
		display: none;
	}
	.burger-button span {
	    margin: 4px auto;
	    width: 85%;
	    height: 3px;
	    background: #eceef4;
	    display: block;
	}
	.burger-button{
		right: 82%;
		top: 0;
		display: block !important;
		width: 30px;
		height: 30px;
		border: 1px solid #6d6e71;
		border-radius: 8px;
		margin: 20px;
		margin-left: 85%;
		padding: 3px;
		position: relative;
		cursor: pointer;
		background: #57c5a0;
	}
	.menu-button-active{
		display: none;
	}
	.menu-button-hidden{
		display: none;
	}
	.menu-wrap{
		display: block !important;
	}
	.menu-wrap a{
		display: block;
	    text-align: center;
	    border: none !important;
	    padding: 12px 0;
	    margin-bottom: 2px;
	    text-transform: uppercase;
	    -webkit-transition: background .3s linear;
	    -moz-transition: background .3s linear;
	    -o-transition: background .3s linear;
	    transition: background .3s linear;
	}
	.menu-wrap a:hover{
		background: #57c5a0;
		color: #fff;
	}
}
.burger-button{
	display: none;
}
.menu-wrap{
	display: none;
	background: #fff;
}
.menu-button{
	display: none;
}
.burger-button span {
    margin: 3px auto;
    width: 85%;
    height: 3px;
    background:#fff;
    display: block;
    border-radius: 8px
}